@model List<GetAllPetImageByPetIdDto>
<h4>Diğer Görseller</h4>
<div class="row mb-4">
    @foreach (var image in Model)
    {
        <div class="col-md-3 col-6 mb-3">
            <div class="pet-thumbnail-container">
                <img src="@image.PetImageUrl" class="pet-thumbnail rounded" alt="@image.PetImageId">
            </div>
        </div>
    }
</div>