
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
    var isAuthenticated = User.Identity != null && User.Identity.IsAuthenticated;

}

<!-- Hero Section -->
@await Component.InvokeAsync("_HeroSectionComponentPartial")

<ul>
    @foreach (var claim in User.Claims)
    {
        <li>@claim.Type = @claim.Value</li>
    }
</ul>

<!-- Featured Pets Section -->
@await Component.InvokeAsync("_FeaturedPetsComponentPartial")
<!-- Info Section -->
@await Component.InvokeAsync("_InfoComponentPartial")
<!-- Success Stories Section -->
@await Component.InvokeAsync("_SuccessStroriesComponentPartial")







