@model GetUserDetailDto
<div class="pet-detail-info mb-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Hakkımda</h2>
        <a class="btn btn-outline-primary btn-sm" href="/User/UpdateUser?id=@Model.UserId">
            <i class="fas fa-edit me-1"></i> Profili Düzenle
        </a>

    </div>
    <p>@Model.AboutMe</p>
</div>

