@model UpdateUserDto

@{
    ViewData["Title"] = "Kullanıcı Güncelle";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">Kullanıcı Bilgilerini Güncelle</h2>
            <form asp-action="UpdateUser" asp-controller="User" method="post" enctype="multipart/form-data">

                <input type="hidden" asp-for="UserId" />

                <div class="mb-3 text-center">
                    <img src="@Model.ExistingImagePath" class="rounded-circle mb-3" alt="Profil Foto" style="width: 100px; height: 100px; object-fit: cover;">
                    <div>
                        <label class="form-label">Profil Fotoğrafı</label>
                        <input asp-for="ProfilePictureUrl" type="file" class="form-control" />
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Ad</label>
                    <input asp-for="Name" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Surname" class="form-label">Soyad</label>
                    <input asp-for="Surname" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label" >Şifre</label>
                    <input asp-for="Password" class="form-control"  />
                </div>

                <div class="mb-3">
                    <label asp-for="City" class="form-label">Şehir</label>
                    <input asp-for="City" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="District" class="form-label">İlçe</label>
                    <input asp-for="District" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="AboutMe" class="form-label">Hakkımda</label>
                    <textarea asp-for="AboutMe" class="form-control" rows="4"></textarea>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
