@model LoginDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
    ViewBag.ColumnSize = "6";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-@ViewBag.ColumnSize">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                   
                    @* Login form kısmı *@
                    <div class="text-center mb-4">
                        <h2 class="mb-3">Hesabına Giriş Yap</h2>
                        <p class="text-muted">
                            Hayvan dostlarına yardım etmek için giriş yap veya <a href="/Register/Index">hesap oluştur</a>.
                        </p>
                    </div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-controller="Login" asp-action="Index" method="post">
                        @* Form alanları *@
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">E-posta</label>
                            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-posta adresinizi girin" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" for="password" class="form-label">Şifre</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" name="Password" placeholder="Şifrenizi girin" required>
                        </div>

                        @* <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe" name="RememberMe">
                            <label class="form-check-label" for="rememberMe">Beni hatırla</label>
                        </div> *@

                            @* Form gönderme butonu *@
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg">Giriş Yap</button>
                        </div>
                        @* <div class="text-center mt-3">
                            <a href="/Account/ForgotPassword">Şifremi unuttum</a>
                        </div> *@
                    </form>
                    @section Scripts {
                        <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
                        <script src="~/js/account/login.js"></script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

