<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="logo-text">PetAdopt</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pet/Index">Hayvanlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">İletişim</a>
                </li>
            </ul>
            <div class="d-flex">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="dropdown">
                        <a class="btn dropdown-toggle text-dark user-dropdown-toggle" href="#" role="button"
                           id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://randomuser.me/api/portraits/women/44.jpg" class="user-avatar"
                                 alt="User Avatar" />
                            <span class="ms-2 text-dark">Zeynep Şahin</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/User/Profile">Profilim</a></li>
                            <li><a class="dropdown-item" href="/User/MyPets">Hayvanlarım</a></li>
                            <li><a class="dropdown-item" href="/User/Favorites">Favorilerim</a></li>
                            <li><a class="dropdown-item" href="/User/Requests">İsteklerim</a></li>
                            <li><a class="dropdown-item" href="/Message/Index">Mesajlarım</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/user/Settings">Hesap Ayarları</a></li>
                            <li><a class="dropdown-item" href="/Account/Logout">Çıkış Yap</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <a href="/Account/Login" class="btn btn-outline-primary me-2">Giriş</a>
                    <a href="/Account/Register" class="btn btn-primary">Kayıt</a>
                }
            </div>
        </div>
    </div>
</nav>


